In [4]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
    --------------------------------------- 0.3/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.4 MB 1.7 MB/s eta 0:00:10
   -- ------------------------------------- 1.0/16.4 MB 1.7 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/16.4 MB 1.6 MB/s eta 0:00:10
   --- ------------------------------------ 1.6/16.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/16.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.4/16.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.4/16.4 MB 1.6 MB/s eta 0:00:09
   ------- -------------------------------- 3.1/16.4 MB 1.6 MB/s eta 0:00:09
   -------- ------------------------------- 3.4/16.4 MB 1.6 MB/s eta 0:00:09
   --------- ------------------------------ 3.9/16.4 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.4 MB 1.7 MB/s eta 0:00:08
   ----------- ---------------------------- 4.7/16.4 MB 1.8 MB/s eta 0:00:07
   ------------ --------------------------- 5.2/16.4 MB 1.8 MB/s eta 0:00:07
   ------------- -------------------------- 5.5/16.4 MB 1.7 MB/s eta 0:00:07
   -------------- ------------------------- 5.8/16.4 MB 1.7 MB/s eta 0:00:07
   -------------- ------------------------- 6.0/16.4 MB 1.7 MB/s eta 0:00:06
   ---------------- ----------------------- 6.6/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.4 MB 1.8 MB/s eta 0:00:06
   ------------------ --------------------- 7.6/16.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.7/16.4 MB 1.8 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.7/16.4 MB 1.9 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.4 MB 1.9 MB/s eta 0:00:04
   ------------------------ --------------- 10.2/16.4 MB 1.8 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.4 MB 1.8 MB/s eta 0:00:04
   -------------------------- ------------- 11.0/16.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 11.3/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.4 MB 1.8 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.4 MB 1.8 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.4 MB 1.8 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.4 MB 1.8 MB/s eta 0:00:03
   -------------------------------- ------- 13.1/16.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 14.7/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 1.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import mysql.connector
CNX= mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="@riF")

In [6]:
query="select * from banking_casee.customers"

In [8]:
import pandas as pd
df=pd.read_sql(query,CNX)

C:\Users\rehan\AppData\Local\Temp\ipykernel_11460\3179281409.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,CNX)

In [9]:
df.head()

,ï»¿Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06-05-2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10-12-2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25-01-2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28-03-2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20-07-2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5

In [10]:
CNX.close()

In [11]:
df.describe()

,Age,Location ID,Estimated Income,Superannuation Savings,Amount of Credit Cards,Credit Card Balance,Bank Loans,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,3.000000e+03,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,51.039667,21563.323000,171305.034263,25531.599673,1.463667,3176.206943,5.913862e+05,6.715602e+05,3.210929e+05,2.329084e+05,29883.529993,8.667598e+05,1.518667,2.249333,2.559333,1.504000,10.425333
std,19.854760,12462.273017,111935.808209,16259.950770,0.676387,2497.094709,4.575570e+05,6.457169e+05,2.820796e+05,2.300078e+05,23109.924010,6.412303e+05,1.102145,1.131191,1.007713,0.500067,5.988242
min,17.000000,12.000000,15919.480000,1482.030000,1.000000,1.170000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,45.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000
25%,34.000000,10803.500000,82906.595000,12513.775000,1.000000,1236.630000,2.396281e+05,2.044004e+05,1.199475e+05,7.479440e+04,11916.542500,3.748251e+05,1.000000,1.000000,2.000000,1.000000,5.000000
50%,51.000000,21129.500000,142313.480000,22357.355000,1.000000,2560.805000,4.797934e+05,4.633165e+05,2.428157e+05,1.640866e+05,24341.190000,7.113147e+05,2.000000,2.000000,3.000000,2.000000,10.000000
75%,69.000000,32054.500000,242290.305000,35464.740000,2.000000,4522.632500,8.258130e+05,9.427546e+05,4.348749e+05,3.155750e+05,41966.392500,1.185110e+06,2.000000,3.000000,3.000000,2.000000,15.000000
max,85.000000,43369.000000,522330.260000,75963.900000,3.000000,13991.990000,2.667557e+06,3.890598e+06,1.969923e+06,1.724118e+06,124704.870000,3.825962e+06,3.000000,5.000000,4.000000,2.000000,22.000000